*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image:url(Backgrount2.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    /* se face transparent */
    backdrop-filter: blur(2px);
  }
  /* containerul cu titlu si buton de login */
  .head-container{
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    justify-content: space-around;
  }
  /* containarul cu imputuri */
  #form{
    width:380px;
    margin:2vh auto 0 auto;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    padding: 10px;
    border:solid 1px rgb(75, 75, 244)
  }
  /* titlu */
  h1{
    text-align: center;
    color:white;
    font-size: 25px;
  }
  /* butonul register */
  #form button{
    background-color:blue;
    color:white;
    border: 2px solid green;
    border-radius: 10px;
    padding:10px;
    margin: 10px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
  }
  /* container cu add new flat , view flat ,my profil*/
  .container{
    display: flex;
  }
  /* imputuri */
  .input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: white;
    
    
  }
  .name-container{
    display: flex;
  }
  
  .input-group input{
    border-radius: 10px;
    font: size 15px;
    padding: 5px;
    border:1px solid red ;
    /* se face transparent */
    backdrop-filter: blur(3px);
    background-color: rgb(189 211 219 /25%);
    color: white;
  
  }
  .input-group input::placeholder{
    color: white;
  }
  
  .input-group input:focus{
    outline:0;
  }
  /*  */
  .input-group .error{
    color:rgb(242, 18, 18);
    font: size 12px;
    
    /* margin-top: 5px; */
  }
  
  .input-group.success input{
    border-color: green;
  }
  
  .input-group.error input{
    border-color:rgb(206, 67, 67);
  }

  .actions{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.actionButons{
    width: 100px;
    height: 30px;
    border-radius: 25px;
    border-color:blue;
}
/* link login */
  .login-href{
    color: white;
  }
  .login-href a{
    color: white;
  }
  /* mesaje de eroare */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

    /* home style */

    /* butoane */
    .navbar{
      width: 100vw;
      height: 70px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
    }
    .btn-home{
      width: 150px;
      height: 30px;
      border-radius: 25px;
      border-color: rgb(34, 193, 195);
      background-color: rgb(189 211 219 / 25%);
      margin-left: 20px;
    }
    .heloo-mesage{
      width: 100px;
      height: 20px;
      color: aliceblue;
    }
    /* style add new flat */
    .input-add-flat{
      display:flex;
      flex-direction: column;
      margin-bottom: 15px;
      
    }
    .input-add-flat input{
      border-radius: 10px;
      font-size:10px;
      padding: 5px;
      border:1px solid red ;
      /* se face transparent */
      background-color: rgb(189 211 219 /25%);
      backdrop-filter: blur(5px);
    }
    .input-add-flat input::placeholder{
      color: #55c5ed;
    }
    
    .input-add-flat input:focus{
      outline:0;
    }
    #wrapper{
    width: 180px;
      display: inline-block;
    }
    .input-group-date input{
      width: 180px;
      border-radius: 10px;
      font: size 15px;
      padding: 5px;
      border:1px solid red ;
      /* se face transparent */
      backdrop-filter: blur(3px);
      background-color: rgb(189 211 219 /25%);
      color: white;
    }
    
    .add-new{
      display: none;
    }
    .input-group-date{
      color: white;
    }
    .switch{
      position:relative;
      display:inline-block;
      width: 125px;
      height: 25px;
    }

    .switch input{
      opacity: 0;
      width: 0;
      height: 0;
    }

    