*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image:url(Backgrount2.jpg) ;
    /* height: 100vh;
    width: 100vw; */
    /* background: no-repeat; */
  }
  
  #form{
    width:400px;
    margin:5vh auto 0 auto;
    /* background-color: white; */
    border-radius: 5px;
    padding:30px;
  }
  
  h1{
    text-align: center;
    color:white;
    font-size: 55px;
  }
  
  #form button{
    background-color: blue;
    color:white;
    border: 2px solid green;
    border-radius: 5px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
  }
  
  .input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
    
  }
  
  .input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid red ;
    /* se face transparent */
    background-color: rgb(189 211 219 /25%);
    /* backdrop-filter: blur(5px); */
  }
  .input-group input::placeholder{
    color: #55c5ed;
  }
  
  .input-group input:focus{
    outline:0;
  }
  
  .input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
  }
  
  .input-group.success input{
    border-color: green;
  }
  
  .input-group.error input{
    border-color:rgb(206, 67, 67);
  }
 